<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- TODO move these into the app -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/app.css" >

    <title>Mini Monitoring Dashboard</title>
</head>
<body>

    <div>
        {% block content %}
        {% endblock content %}
    </div>
    <script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>
