body{
  font-size: 2em;
  color: white;
  margin: 3% 5%;
  background-color: #1B1C22;
}

h2 {
  text-align: center;
}

@media screen and (min-width: 200px) {
    body{font-size: 50%;}
}

@media screen and (min-width: 300px) {
    body{font-size: 60%;}
}

@media screen and (min-width: 400px) {
    body{font-size: 70%;}
}

@media screen and (min-width: 500px) {
    body{font-size: 90%;}
}

@media screen and (min-width: 700px) {
    body{font-size: 150%;}
}

.service {
  background-color: #2C2F36;
  padding-top: 0.5%;
  padding-bottom: 3%;
  border-radius: 2%;
  border-color: grey;
  border-style: solid;
  color: #F49909;
  padding-left: 10%;
}
.canvas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 20px;
}
.measurement {
  display: grid;
  color: white;
  padding-bottom: 10%;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  font-size: 80%;
}
.measureName {
  justify-self: start;
  color: #F0AD4B;
}
.measureValue {
  justify-self: end;
  padding-right: 10%;
}
.trends {
  color: white;
  padding-right: 5%;
}
.updated {
  font-size: 80%;
  text-align: right;
  color: grey;
}